{{#each this}}
  <li class="education-item">
    <article class="education-item__content">
      <p class="education-item__description">{{link url name}}
        ({{period}}) —
        {{degree}}</p>
    </article>
  </li>
{{/each}}